{erl_opts, [debug_info]}.
{deps,
 [{chumak, {git, "https://github.com/zeromq/chumak", {branch, master}}}
 ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [brick_chain]}
]}.

{relx,
 [{release, {brick_chain, "0.1.0"}, [brick_chain, chumak, public_key]},
  {sys_config, "./config/sys.config"},
  {dev_mode, false},
  {include_erts, false},
  {extended_start_script, true}
 ]}.
